html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // background: #fff;
    font-size: 1.6rem;
    height: auto;
    font-family: "Poppins", sans-serif;
    background: red;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

$continer-color: #0a6cf1;
$continer-padding: 30px 20px 10px 20px;
body {
    font-family: "Roboto", sans-serif;
    min-height: 100%;
    background-color: #fbda61;
    background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);

    user-select: none;
}

.timer {
    // position: relative;
    // margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;

    &-wrapper {
        background-color: $continer-color;
        padding: $continer-padding;
        border-radius: 8px;
        color: #fff;
        min-width: 450px;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
    }

    label {
        display: block;
    }

    &-title {
        font-size: 9pt;
        opacity: 0.5;
    }

    &-name {
        font-size: 16pt;
        margin: 5px 0;
    }

    .counter {
        padding: 25px;
        margin: 25px 0 15px 0;
        background-color: #000;
        font-weight: 700;
        border-radius: 8px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        min-height: 120px;

        div {
            display: inline-block;
        }
        .days,
        .hours,
        .minutes,
        .seconds {
            width: 25%;
            float: left;
            text-align: center;
            .value {
                display: block;
                font-size: 36pt;
                width: 100%;
                display: block;
            }
            span {
                font-size: 8pt;
                opacity: 0.8;
                width: 100%;
                display: block;
            }
        }
        .hours::before,
        .minutes::before,
        .seconds::before {
            content: ":";
            float: left;
            font-size: 20pt;
            position: relative;
            margin-top: 10px;
            opacity: 0.7;
            animation: pink 1s ease-in-out infinite;
        }
    }
}

@keyframes pink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.form-timer {
    margin: 50px auto;
    max-width: 1500px;

    input {
        padding: 5px 10px;
        outline: none;
        background: #eee;
        border: 1px solid #000;
    }

    button {
        width: 100px;
        height: 50px;
        display: block;
        margin: 0 auto;
    }
}
