html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

@mixin screen($dev) {
    @if $dev == lg {
        @media (max-width: 991.98px) {
            @content;
        }
    }
    @if $dev == md {
        @media (max-width: 767.98px) {
            @content;
        }
    }
    @if $dev == sm {
        @media (max-width: 575.98px) {
            @content;
        }
    }
}

$container-color: #0a6cf1;
$container-padding: 30px 20px 10px 20px;

body {
    background: url("../img/background-4.jpg") repeat fixed center;
    user-select: none;
}

.timer {
    margin: 100px auto 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    min-height: 400px;

    @include screen(lg) {
        align-items: center;
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    @include screen(sm) {
        min-height: 200px;
    }

    &-wrapper {
        max-height: 250px;
        background-color: $container-color;
        padding: $container-padding;
        border-radius: 8px;
        color: #fff;
        min-width: 450px;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);

        @include screen(lg) {
            margin-top: 20px;
            min-width: 400px;
        }

        @include screen(sm) {
            margin-top: 10px;
            min-width: 300px;
        }
    }

    label {
        display: block;
    }

    &-title {
        font-size: 9pt;
        opacity: 0.5;
    }

    &-name {
        font-size: 16pt;
        margin: 5px 0;
    }

    .counter {
        padding: 25px;
        margin: 25px 0 15px 0;
        background-color: #000;
        font-weight: 700;
        border-radius: 8px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
        min-height: 120px;

        div {
            display: inline-block;
        }
        .days,
        .hours,
        .minutes,
        .seconds {
            width: 25%;
            float: left;
            text-align: center;
            .value {
                display: block;
                font-size: 36pt;
                width: 100%;
                display: block;

                @include screen(sm) {
                    font-size: 3rem;
                }
            }
            span {
                font-size: 8pt;
                opacity: 0.8;
                width: 100%;
                display: block;

                @include screen(sm) {
                    font-size: 1.2rem;
                }
            }
        }
        .hours::before,
        .minutes::before,
        .seconds::before {
            content: ":";
            float: left;
            font-size: 20pt;
            position: relative;
            margin-top: 10px;
            opacity: 0.7;
            animation: pink 1s ease-in-out infinite;

            @include screen(sm) {
                font-size: 1.5rem;
            }
        }
    }

    .player {
        height: 350px;
        width: 300px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;

        @include screen(lg) {
            min-width: 350px;
        }

        @include screen(sm) {
            width: 300px;
            height: 350px;
        }
    }

    .player-list {
        max-width: 300px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        padding: 10px 0 0px 20px;
        border: 4px solid rgb(5, 99, 193);

        @include screen(lg) {
            max-width: 500px;
        }

        &__title {
            margin-left: -20px;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, "Times New Roman",
                serif;
            font-size: 3rem;
            margin-bottom: 20px;
        }

        &__wrapper {
            max-height: 300px;
            overflow-y: scroll;
        }

        .song-row {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            column-gap: 10px;

            > * {
                pointer-events: none;
            }
        }
    }

    .player-row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        > i {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -5px;
            width: 40px;
            height: 40px;
            border-radius: 99px;
            background: rgb(63, 145, 226);
            color: #dadada;
            transition: all 0.25s ease;

            &:hover {
                background: rgba(63, 145, 226, 0.8);
            }
        }
    }

    .player-box {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: 20px;
        max-width: 400px;
        margin: 0 auto 30px;
    }

    .player-media {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 100rem;
        margin-bottom: 25px;
    }

    .player-media:before {
        content: "";
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .player-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
    }

    .player-image.is-playing {
        animation: rotate 10s forwards infinite linear;
    }

    @keyframes rotate {
        to {
            transform: rotate(360deg);
        }
    }

    .progress {
        margin-bottom: 20px;
        margin-top: 25px;
    }

    .player-number {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .player-tool {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player-play {
        color: #2b48d9;
        width: 45px;
        height: 45px;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: white;
        box-shadow: 0 0 0 10px rgba(242, 243, 244, 0.5);
        font-size: 16px;
        margin: 0 30px;
    }

    .player-next,
    .player-prev {
        cursor: pointer;
        font-size: 16px;
    }

    .progress {
        width: 100%;
        position: relative;
    }

    .bar {
        -webkit-appearance: none;
        width: 100%;
        height: 3px;
        background: #d3d3d3;
        outline: none;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
    }

    .bar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 100rem;
        background-color: #2b48d9;
        box-shadow: 0 0 0 5px white, 0 0 0 6px #ccc;
    }

    /* .bar::-webkit-slider-thumb chọn phần tử con của phần tử có lớp bar mà là "thumb" của thanh trượt (slider)
     dành cho trình duyệt WebKit (chẳng hạn như Safari hoặc Chrome).
    
    .bar::-moz-range-thumb chọn phần tử con của phần tử có lớp bar mà là "thumb" của 
    thanh trượt (slider) dành cho trình duyệt Firefox (Mozilla).
    */

    .bar::-moz-range-thumb {
        cursor: pointer;
        width: 10px;
        height: 10px;
        border-radius: 100rem;
        background-color: #2b48d9;
        box-shadow: 0 0 0 5px white, 0 0 0 6px #ccc;
    }
}

@keyframes pink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.form-timer {
    height: 500px;
    position: absolute;
    left: 170px;
    top: 350px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;

    @include screen(lg) {
        max-width: 400px;
        top: 1100px;
        left: 190px;
    }

    @include screen(sm) {
        max-width: 400px;

        top: 1120px;
        left: 30px;
    }

    input {
        margin-top: 30px;
        width: 120px;
        padding: 10px 15px;
        outline: none;
        background: #eee;
        border: 1px solid #dadada;
        @include screen(lg) {
            width: 90px;
        }

        @include screen(sm) {
            padding: 10px 10px;
            margin-top: 10px;
            width: 90px;
        }
    }

    button {
        margin-top: 30px;
        width: 108px;
        padding: 10px 15px;
        background: #fd3a3a;
        border: none;
        color: #fff;
        font-weight: 500;

        @include screen(sm) {
            padding: 10px 10px;
            margin-top: 10px;
            width: 90px;
        }
    }
}

.img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 99px;

    &-2 {
        margin-top: 0px;
        width: 30px;
        height: 30px;
    }
}

.nameSong {
    font-size: 1.6rem;
}

.nameSinger {
    margin-top: 5px;
    font-size: 1.5rem;
}
